@keyframes slideup-active-animation {
    0% {
        bottom: -600px;
    }

    100% {
        bottom: 0;
    }
}
@keyframes slideup-inactive-animation {
    0% {
        bottom: 0;
    }

    100% {
        bottom: -600px;
    }
}

@keyframes popup-background-active-animation {
    0% {
        background-color: rgba(85, 85, 85, 0);
    }

    100% {
        background-color: #16161694;
    }
}
@keyframes popup-background-inactive-animation {
    0% {
        background-color: #16161694;
    }

    100% {
        background-color: rgba(85, 85, 85, 0);
    }
}

@keyframes popup-active-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes popup-inactive-animation {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.header {
    padding: 0 10px;
    position: absolute;
    width: 100%;
    z-index: 99;
    .logo {
        position: absolute;
        top: 10px;
        height: 30px;
        width: 150px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.26);
        border-radius: 5px;
    }
    .input-wrap {
        position: inherit;
        top: 45px;
        display: flex;
        .search-input {
            width: 200px;
            height: 40px;
            padding: 0 10px;
            border: none;
            // box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.26);
            border-radius: 8px;
        }
        .search-button {
            border: none;
            // box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.26);
            border-radius: 8px;
            width: 50px;
            margin-left: 5px;
            color: white;
            background: rgb(194, 109, 109);
        }
    }
}

.slide-modal {
    position: absolute;
    width: 100%;
    height: 400px;
    bottom: 0;
    background: white;
    box-shadow: 5px 5px 30px 10px rgb(78, 78, 78);
    // overflow-y: scroll;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.slide-modal.active {
    animation: slideup-active-animation 0.4s ease;
    bottom: 0;
}
.slide-modal.inactive {
    animation: slideup-inactive-animation 0.4s ease;
    bottom: -1000px;
}

.popup-modal {
    box-shadow: 5px 5px 30px 10px rgb(129, 129, 129);
    border-radius: 30px;
    background-color: white;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    min-height: 200px;
    max-height: 500px;
    z-index: 101;
    opacity: 1;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #16161694;
    top: 0;
    z-index: 100;
}

.background.active {
    animation: popup-background-active-animation 0.5s;
    background-color: #16161694;
}
.background.inactive {
    animation: popup-background-inactive-animation 0.5s;
    background-color: rgba(85, 85, 85, 0);
}
.popup-modal.active {
    animation: popup-active-animation 0.5s;
    opacity: 1;
}

.popup-modal.inactive {
    animation: popup-inactive-animation 0.5s;
    opacity: 0;
}
